:root {
	--header: #000;
	--header-font: #fff;
	--accent: 				#f51720;
	--link: 				#f51720;
	--link-hover:	 		#000;
	--nav-link: #D23130;
	--nav-spacer: #420d0d;
	--nav-link-hover: #fff;
	--small-side-color: rgb(34, 34, 34);
	--input-font: #fff;
	--box-font: #fff;
	--box: #ccc;
	--box-dark: #222;
	--bg-dark: #000;
	--font-dark: #000;
	--section-header: #222;
	--section-header-dark: #aaa;
	--link-hover-dark: #fff;
	--header-dark: #444;
}


/** Font Faces**/
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 100;
	src: url(font/OpenSans-Light.ttf) format('truetype');
}

body {
	margin: 0;
	background-color: #fff;
	font-family: 'Open Sans';
	font-size: 25px;
	z-index: 0;

	font-weight: 100;
}

a {
	color: var(--link);
	text-decoration: none;
}

a:hover {color: var(--link-hover);}

/** HEADER **/
#header {
	width: 100%;
	overflow: hidden;
	text-align: center;
	background: var(--header);
	color: var(--header-font);
	display: block;
	z-index: 4;
}

#nav {
	width: 100%;
	max-width: 800px;
	height: 120px;
	margin: 0 auto;
	position: relative;
	z-index: 4;
}

#nav_names {
	position: absolute;
	left: 0;
	bottom: 20px;
	font-size: 60px;
	letter-spacing: 4px;
}

#nav_buttons {
	position: absolute;
	right: 0;
	bottom: 30px;
	color: var(--nav-spacer);
	font-size: 25px;
	letter-spacing: 1px;
}

#nav a.navlink {
	color: var(--nav-link);
	text-decoration: none;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	background-color: var(--header);
  	color: var(--accent);
  	border: 1px solid var(--accent);
  	border-radius: 5px;
  	padding: 6px;
}

#nav a.navlink:hover {
	color: var(--nav-link-hover);
	border: 1px solid var(--nav-link-hover);
}

strong {font-weight: bold;}

table {
	padding: 10px;
	border: collapse;
}
tr {
	border-bottom: 1px solid grey;
}

td {
	padding-top: 15px; 
	text-align: left;
}
td:first-child {
	padding-right: 30px;
	text-align: center;
}

hr {
	border-radius: 15px;
	border: 0.5px solid var(--accent);
	visibility: hidden;
}

/** CONTENT **/

/** post for blog entries**/
#post {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	text-align: left;
	font-size: 22px;
	padding: 20px 0;
}
.button {
	color: var(--nav-link);
	text-decoration: none;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	color: var(--accent);
	border: 1px solid var(--accent);
	border-radius: 5px;
	padding: 6px;
	width: 200px;
	height: 300px;
}


.quote {font-weight: lighter;}


h1,h2,h3,h4 {
	text-transform: uppercase;
	color: var(--accent);
}

img {
	width: 388px;
}

#summary {font-size: smaller;}

#post>ul>li>span {
	color: #aaa;
	display: block;
	font-size: 18px;
}

#content {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
}

#content-left {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	text-align: left;
	padding: 20px 0;
}

#content>a>div {
	display: inline-block;
	overflow: hidden;
	width: 390px;
	height: 160px;
	margin-bottom: 20px;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

#content>a:first-child>div {margin-top: 20px;}

#content>a {
	text-decoration: none;
	display: inline-block;
}

#content>a:hover>div {opacity: 0.5;}

#content>a>div>img {
	width: 388px;
	border: 1px solid #eee;
	margin-bottom: 5px;
}

#content>a>div>div {
	color: var(--link);
	font-size: 18px;
	line-height: 21px;
	text-align: left;
	width: 100%;
}

#content>a>div>div>span {color: #aaa;}

#content>.section {
	font-size: 25px;
	clear: both;
	text-align: left;
	letter-spacing: 10px;
	margin-top: 40px;
	margin-bottom: 25px;
	color: var(--section-header);
	text-decoration: none;
}

/** FOOTER **/
#footer {
	width: 100%;
	overflow: hidden;
	position: relative;
}

#footer_banner {
	width: 100%;
	background: #000;
	overflow: hidden;
	bottom: 30px;
}

#footer_banner>div {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	color: #fff;
	letter-spacing: 2px;
	line-height: 28px;
	font-size: 18px;
	max-width: calc(100% - 40px);
	margin: 0 auto;
}

/* SMALL SCREENS */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}

@media (max-width: 1000px) {
	.grad {
		z-index: 1;
		background-image: linear-gradient(to right, var(--small-side-color), var(--small-side-color));
	}
	.sidenav {width: 100%;}
	.sidenav a {color: var(--nav-link);}
}

@media (max-width: 800px) {
	#nav {
		text-align: center;
		padding-top: 20px;
		padding: 20px 0;
		z-index: 4;
	}

	#nav_names {width: 100%;}

	#nav_names,#nav_buttons {
		position: static;
		display: inline-block;
	}

	#footer_banner>div {font-size: 16px;}
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
	img {opacity: .8;}
	body {
		background-color: var(--bg-dark);
		color: var(--box-font);
	}
	#content {color: var(--box-font);}
	a:hover {color: var(--link-hover-dark);}
	#content>.section {color: var(--section-header-dark);}
	#footer_banner {background: var(--box-dark);}
	.box {background-color: var(--box-dark);}
}